<style>
  @media screen and (min-width: 210px) and (max-width: 730px) {
     .carousel-grid {
        min-width: 210px;
        max-width: 500px;}
      .carousel-modal-content .carousel-item figcaption{
        display: none}
      .carousel-modal-controls {
        width: 90%;
        position: absolute;
        margin-left: 16%;
        max-width: 500px;
        min-width: 210px;
        z-index: 5;
        color: white;}}
</style>
<div class="carousel-grid">
      <figure class="carousel-item">
        <%= image_tag("opuntia.jpg", id:"slidegalery", alt:"opuntia", :class => "img-responsive") %>
        <figcaption>Cactus</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("lenguesuegra.jpg", id:"slidegalery", alt:"lenguesuegra", :class => "img-responsive") %>
        <figcaption>Lenguesuegra</figcaption>
      </figure>
      <figure class="carousel-item">
         <%= image_tag("suculenta4.jpg", id:"slidegalery", alt:"suculenta", :class => "img-responsive") %>
        <figcaption>Suculenta</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("suculentaycactus.jpg", alt:"suculenta y cactus", :class => "img-responsive") %>
        <figcaption>Suculenta</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("arreglosuculentayotros.jpg", alt:"arreglo de suculentas y cactus", :class => "img-responsive") %>
        <figcaption>Arreglo</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("suculentass.jpg", alt:"suculenas", id:"slidegalery", :class => "img-responsive") %>
        <figcaption>Suculenta</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("arreglosuculentayotros.jpg", alt:"arreglo de suculentas y cactus", :class => "img-responsive") %>
        <figcaption>Arreglo</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("suculentass.jpg", alt:"suculenas", id:"slidegalery", :class => "img-responsive") %>
        <figcaption>Suculenta</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("jardineriawiiliam.jpg", alt:"Cactus", id:"slidegalery", :class => "img-responsive") %>
        <figcaption>Jardinería</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("viverojarum.jpg", alt:"Cactus", id:"slidegalery", :class => "img-responsive") %>
        <figcaption>Vivero</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("viverojarum2.jpg", alt:"Cactus", id:"slidegalery", :class => "img-responsive") %>
        <figcaption>Vivero</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("suculentascultivo.PNG", alt:"Cultivo de suculentas", id:"slidegalery", :class => "img-responsive") %>
        <figcaption>Suculentas</figcaption>
      </figure>
      <figure class="carousel-item">
        <%= image_tag("cultivos2.jpg", alt:"Cactus", id:"slidegalery", :class => "img-responsive") %>
        <figcaption>Cultivos</figcaption>
      </figure>
    </div>

    <div class="carousel-modal hidden">
      <div class="carousel-modal-close"></div>
      <div class="carousel-modal-controls">
        <span class="carousel-modal-prev">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </span>
        <span class="carousel-modal-next">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </div>
      <div class="carousel-modal-content">
      </div>
    </div>
<script type="text/javascript">


  var carousel = (function() {
  // Selectors
  var carouselGridSelector = '.carousel-grid';
  var carouselItemsSelector = '.carousel-item';
  var carouselModalSelector = '.carousel-modal';
  var carouselModalContentSelector = '.carousel-modal-content';
  var carouselCloseButtonSelector = '.carousel-modal-close';
  var carouselModalButtonPrevSelector = '.carousel-modal-prev';
  var carouselModalButtonNextSelector = '.carousel-modal-next';
  var carouselSlidesSelector = '.carousel-modal-content .carousel-item';

  // Elements
  var carouselGridElement = document.querySelector(carouselGridSelector);
  var carouselGridItems = carouselGridElement.querySelectorAll(carouselItemsSelector);
  var carouselModalElement = document.querySelector(carouselModalSelector);
  var carouselCloseButtonElement =  carouselModalElement.querySelector(carouselCloseButtonSelector);
  var carouselModalContentElement = carouselModalElement.querySelector(carouselModalContentSelector)
  var carouselModalButtonPrevElement = carouselModalElement.querySelector(carouselModalButtonPrevSelector);
  var carouselModalButtonNextElement = carouselModalElement.querySelector(carouselModalButtonNextSelector);

  // Variables
  var currentSlideIndex = 0;
  var slidesLen = carouselGridItems.length;

  // Convert an arrayLike into Array and get the index given and element
  var getElementIndexFromArrayLike = function (arrayLike, element) {
    return Array.from(arrayLike).indexOf(element);
  }

  var showCarousel = function () {
    var clickedGridItem = this;
    currentSlideIndex = getElementIndexFromArrayLike(carouselGridItems, clickedGridItem);

    carouselModalElement.classList.remove('hidden')
    toggleBodyOverflowHidden();
    cloneCarouselItems();
    showCurrentSlide(currentSlideIndex);
  }

  var hideCarousel = function() {
    carouselModalElement.classList.add('hidden')
    toggleBodyOverflowHidden();
  }

  var nextSlide = function() {
    if(currentSlideIndex === (slidesLen - 1)) {
      currentSlideIndex = 0;
    } else {
      currentSlideIndex += 1;
    }

    showCurrentSlide(currentSlideIndex);
  }

  var prevSlide = function() {
    if (currentSlideIndex === 0) {
      currentSlideIndex = (slidesLen - 1);
    } else {
      currentSlideIndex -= 1;
    }

    showCurrentSlide(currentSlideIndex);
  }

  var hideSlides = function(gridItem) {
    gridItem.style.display = 'none';
  }

  var showCurrentSlide = function(currentIndex) {
    var carouselSlideElements = document.querySelectorAll(carouselSlidesSelector)
    carouselSlideElements.forEach(hideSlides);
    carouselSlideElements[currentIndex].style.display = 'block';
  }

  var cloneCarouselItems = function() {
    if (carouselModalContentElement && carouselModalContentElement.children && carouselModalContentElement.children.length <= 0) {
      var clonedCarouselGrid = carouselGridElement.cloneNode(true);
      carouselModalContentElement.appendChild(clonedCarouselGrid);
    }
  }

  var toggleBodyOverflowHidden =  function() {
    var body = document.querySelector('body');
    var bodyOverflow = body.style.overflow;

    if (bodyOverflow === 'hidden') {
      body.style.overflow = 'visible';
    } else {
      body.style.overflow = 'hidden';
    }
  }

  var init = function() {
    carouselGridItems.forEach(function(gridItem){
      gridItem.addEventListener('click', showCarousel);
    })

    carouselCloseButtonElement.addEventListener('click', hideCarousel);
    carouselModalButtonPrevElement.addEventListener('click', prevSlide);
    carouselModalButtonNextElement.addEventListener('click', nextSlide);
    carouselModalContentElement.addEventListener('click', nextSlide);
    document.addEventListener('keydown', function(e){
      if (e.keyCode === 37) {
        nextSlide();}
      else if (e.keyCode === 39){
        prevSlide();}
      else if (e.keyCode === 27){
        hideCarousel();}
    })
  };

  return {
    init: init
  }
}());

// Entrada de la app
document.addEventListener('DOMContentLoaded', function() {
  carousel.init();
});


</script>
