
<section id="scroll" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<p id="linea1"></p> 
<div class="container">
  <h2 id="galery">Nuestros productos</h2>
  <p>An example of using images to indicate how many slides there are in the slideshow, and which image the user is currently viewing (red border).</p>
  <div class="row">
    <nav class="col-sm-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Suculentas</a></li>
        <li><a href="#section2">Carnívoras</a></li>
        <li><a href="#section3">Aromáticas</a></li>
        <li><a href="#section4">Ornamentales</a></li>
      </ul>
    </nav>
    <div class="col-sm-9 scrollmin">
      <div id="section1">    
          <div class="row" id="galery">
             <div class="w3-content galeria" style="max-width:600px">
                 <%= image_tag("carni.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("aroma.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("orna.jpg",class:"mySlides", style:"width:100%")%>
                 <div class="w3-row-padding w3-section">
                    <div class="w3-col s3">
                      <%= image_tag("carni.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(1)")%>
                    </div>
                    <div class="w3-col s3">
                     <%= image_tag("aroma.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(2)")%>
                   </div>
                   <div class="w3-col s3">
                    <%= image_tag("orna.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(3)")%>
                   </div>
                </div>
             </div>

          </div>
      </div>
      <div id="section2"> 
          <div class="row" id="galery">
             <div class="w3-content galeria" style="max-width:600px">
                 <%= image_tag("carni.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("aroma.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("orna.jpg",class:"mySlides", style:"width:100%")%>
                 <div class="w3-row-padding w3-section">
                    <div class="w3-col s3">
                      <%= image_tag("carni.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(1)")%>
                    </div>
                    <div class="w3-col s3">
                     <%= image_tag("aroma.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(2)")%>
                   </div>
                   <div class="w3-col s3">
                    <%= image_tag("orna.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(3)")%>
                   </div>
                </div>
             </div>
          </div>
      </div>     
      <div id="section3">         
          <div class="row" id="galery">
             <div class="w3-content galeria" style="max-width:600px">
                 <%= image_tag("carni.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("aroma.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("orna.jpg",class:"mySlides", style:"width:100%")%>
                 <div class="w3-row-padding w3-section">
                    <div class="w3-col s3">
                      <%= image_tag("carni.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(1)")%>
                    </div>
                    <div class="w3-col s3">
                     <%= image_tag("aroma.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(2)")%>
                   </div>
                   <div class="w3-col s3">
                    <%= image_tag("orna.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(3)")%>
                   </div>
                </div>
              </div>
          </div>
      </div>
    
      <div id="section4">         
          <div class="row" id="galery">
             <div class="w3-content galeria" style="max-width:600px">
                 <%= image_tag("carni.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("aroma.jpg",class:"mySlides", style:"width:100%")%>
                 <%= image_tag("orna.jpg",class:"mySlides", style:"width:100%")%>
                 <div class="w3-row-padding w3-section">
                    <div class="w3-col s3">
                      <%= image_tag("carni.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(1)")%>
                    </div>
                    <div class="w3-col s3">
                     <%= image_tag("aroma.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(2)")%>
                   </div>
                   <div class="w3-col s3">
                    <%= image_tag("orna.jpg",class:"demo w3-border w3-hover-shadow", style:"width:100%",onclick:"currentDiv(3)")%>
                   </div>
                </div>
             </div>
          </div>
      </div>    
    </div>
  </div>
</div>

</section>

<p id="linea7"></p>