<!--La seccion1 es donde esta almacenado el sylder principal -->
<section class="row" id="seccion1">
	<!--carousel principal codigo de w3school -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
			    <%= image_tag("moravia.jpg", id:"imgcarousel", alt:"Cerro de Moravia")%>
	            <div class="carousel-caption">
                  <h1>Moravia Florece Para la Vida</h1>
                  <p>El antiguo vertedero de basura al aire libre es ahora icono de transformacion socio-ambiental del Barrio Moravia en Medellín. Uno de los frutos del proyecto tiene nombre propio, se llama JARUM </p>
                </div>			
            </div>

			<div class="item">
				<%= image_tag("suculentas.jpg", id:"imgcarousel", alt:"Cerro de Moravia")%>
	            <div class="carousel-caption">
                  <h1>¿Qué ofrecemos al mercado?</h1>
                  <p>Rosas, claveles, nardos, suculentas  y diferentes especies de plantas, servicios de  jardinería, poda y paisajismo.</p>
                </div>
			</div>

			<div class="item">
				<%= image_tag("slider3.jpg", id:"imgcarousel", alt:"Cerro de Moravia")%>
	            <div class="carousel-caption">
                  <h1>¿Qué necesidades estamos resolviendo?</h1>
                  <p>Estamos embelleciendo con plantas ornamentales los terrenos y espacios muertos en el área metropolitana del valle del aburra.</p>
                </div>
			</div>

			<div class="item">
				<%= image_tag("slider4.jpg", id:"imgcarousel", alt:"Cerro de Moravia")%>
	            <div class="carousel-caption">
                  <h1>¿Cuáles son los atributos de nuestra propuesta de valor?</h1>
                  <p>Convertir los espacios y terrenos muertos en lugares llenos de vida, para el disfrute de los ciudadanos y aportar a la mejora del aire</p>
                </div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Siguiente</span>
		</a>
	</div>
</section>

<div id="linea1"></div>

<section id="seccion2">
    <div><div id="titleseccion2"><p class="titleseccion2">Compost</p></div>
         <div id="titleseccion2"><p class="titleseccion2">Paisajísmo</p></div>
    </div>

	<div class="row">
		<div class="col-xs-6 imgseccion2" id="compost"><div id="cuadroseccion2">
			<p id="textoseccion2"><h3 class="colortextseccion2">Consiste en cultivar, tanto en un espacio abierto como cerrado, flores (arriates), árboles, hortalizas, o verduras (huertas), ya sea por estética, por gusto o para la alimentación, y en cuya consecución el objetivo económico es algo secundario.</h3></p></div>
		</div>
		<div class="col-xs-6 imgseccion2" id="paisajismo"><div id="cuadroseccion2">
			<p id="textoseccion2"><h3 class="colortextseccion2">El paisajismo es tanto arte como ciencia y requiere buenas dotes de observación y habilidades de diseño, así como planificación, creatividad, organización e imaginación. También puede definirse como un proceso racional por el cual el hombre utiliza la naturaleza como herramienta para expresarse, al mismo tiempo que obtiene diversos beneficios.</h3></p></div>
		</div>
	</div>

	<div id="culti"><p id="tituloculti">Cultivo de plantas</p></div>
	<div id="Tplantas">
		<div id="T1"><p id="TS">Suculentas</p></div><div id="T1"><p id="TC">Carnívoras</p></div><div id="T1"><p id="TA">Aromáticas</p></div><div id="T1"><p id="TO">Ornamentales</p></div></div>
		<div id="partes2">
			<div id="sucu"><div id="cuadroS"><p id="textoS">Las plantas suculentas o crasas son aquellas en las que algún órgano o parte se ha modificado en una nueva especialización que permite el almacenamiento de agua en cantidades mucho mayores que en el resto de las plantas.<br>  Esta adaptación les permite mantener reservas de agua durante períodos prolongados y sobrevivir en entornos áridos y secos que otras plantas encuentran inhabitables.</p></div>
		</div>
		<div id="carni"><div id="cuadroC"><p id="textoC">Una planta carnívora, también llamada planta insectívora, es una planta que obtiene parte o la mayoría de sus necesidades nutricionales (pero no de energía) mediante la captura y el consumo de animales y protozoos, normalmente insectos (además de otros artrópodos). Estas plantas crecen generalmente en lugares donde el suelo es pobre, en especial en nitrógeno, como las tierras ácidas pantanosas y los farallones rocosos.</p></div>
	</div>
	<div id="aroma"><div id="cuadroA"><p id="textoA">Las hierbas aromáticas son plantas muy utilizadas en la cocina mediterránea por sus cualidades aromáticas y condimentarias. <br>Son cultivadas en huertos de diferente extensión.
		La expresión finas hierbas se utiliza por lo general para designar una mezcla de cuatro hierbas: cebollino, perifollo, estragón y perejil que constituyen el pilar de la cocina francesa.</p></div>
	</div>
	<div id="orna"><div id="cuadroO"><p id="textoO">Una planta ornamental es aquella que se cultiva y se comercializa con propósitos decorativos por sus características estéticas, como las flores, hojas, perfume, la peculiaridad de su follaje, frutos o tallos en jardines y diseños paisajísticos, como planta de interior o para flor cortada. Su cultivo, llamado floricultura, forma una parte fundamental de la horticultura.</p></div>
</div>
</div>
</section>

<!--video in seccion3 -->
<section class="row" id="seccion3">
	<div><center><h2 class="ban">Jarum nace del macro-proyecto<br><b>Moravia florece para la vida</b></h2></center></div>
	<div>
		<object  id="convideo" data="http://www.youtube.com/v/k7LLH1yt7eQ">
		</object>
	</div>
</section>	
<!--La seccion4 es donde esta almacenado el banner principal -->
<section  class="row" id="seccion4">
	<div  class="col-xs-4">
		<h2 class="ban"><center>GALERIAS</center></h2>
		<%= link_to image_tag("nueva1.jpg", :width =>'100%', :id =>'b1'), galeria_url %>

	</div>
	<div class="col-xs-4">
		<h2 class="ban"><center>PAISAJÍSMO</center></h2>
		<%= link_to image_tag("jardin.jpg", :width =>'100%', :id =>'b2'), servicios_url %>

	</div>
	<div class="col-xs-4">
		<h2 class="ban"><center>HISTORIA</center></h2>
		<%= link_to image_tag("arbol.jpg", :width =>'100%', :id =>'b3'), quienes_url %>
	</div>
</section>
<%= render 'aliados' %>