<%= image_tag("quienes1.PNG", id:"quienes", :class => "img-responsive") %>

<!--seccion improvista -->
<div class="container" id="boody">
	<div class="row">
    <p class="rombotextresponsive">JARUM CORPORACIÓN DE <br>emprendedores</p>
    <div class="col-xs-12">
		<h2 class="rombotext">JARUM ES UNA CORPORACIÓN DE<br/> emprendedores</h2>

                            <div class="col-xs-6 .col-xs-offset-3" id="rombos">
                                 <ul class="social">
                                  <li class="facebook"><%= image_tag("rombo1.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="twitter"><%= image_tag("rombo2vivero.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="pinterest"><%= image_tag("Captura (1).PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="behance"><%= image_tag("rambo3.PNG", id:'rombo', :class => "img-responsive") %></li>
                                </ul>
                          </div>
    </div>
    </div>
    <div class="row">
    <p class="rombotextresponsive">Comprometidos 100%<br /> con EL AMBIENTE</p>
    <div class="col-xs-12">
        <h2 class="rombotext">Comprometidos 100%<br /> con EL AMBIENTE</h2>
                            <div class="col-xs-6 .col-xs-offset-3" id="rombos2">
                                 <ul class="social">
                                  <li class="facebook2"><%= image_tag("regadera.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="twitter2"><%= image_tag("romboplanta.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="behance3"><%= image_tag("rombosuculenta.PNG", id:'rombo', :class => "img-responsive") %></li>
                                </ul>
                          </div>
    </div>
       <i class="fa fa-recycle fa-4x" id="enjoy"></i>
       <br>
       <br>
    </div>
</div>	
<%= image_tag("quienes2.PNG", id:"quienes", :class => "img-responsive") %>
<%= image_tag("quienes3.PNG", id:"mv", :class => "img-responsive") %>
<%= image_tag("mision.PNG", id:"mvresponsive", :class => "img-responsive") %>
<br>
<%= image_tag("vision.PNG", id:"mvresponsive", :class => "img-responsive") %>
<br>