<%= image_tag("quienes1.PNG", id:"quienes", :class => "img-responsive") %>
<%= image_tag("quienes2.PNG", id:"quienes", :class => "img-responsive") %>
<!--seccion improvista -->
<div class="container" id="boody">
	<div class="row">
    <p class="rombotextresponsive">JARUM CORPORACIÓN DE <br>emprendedores</p>
    <div class="col-md-12">
		<h2 class="rombotext">JARUM ES UNA CORPORACIÓN DE<br/> emprendedores</h2>

                            <div class="col-md-6 .col-md-offset-3" id="rombos">
                                 <ul class="social">
                                  <li class="facebook"><%= image_tag("vivero.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="twitter"><%= image_tag("propacacions.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="pinterest"><%= image_tag("ideas.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="behance"><%= image_tag("propacagion.PNG", id:'rombo', :class => "img-responsive") %></li>
                                </ul>
                          </div>
    </div>
    </div>
    <div class="row">
    <p class="rombotextresponsive">Comprometidos 100%<br /> con EL AMBIENTE</p>
    <div class="col-md-12">
        <h2 class="rombotext">Comprometidos 100%<br /> con EL AMBIENTE</h2>
                            <div class="col-md-6 .col-md-offset-3" id="rombos2">
                                 <ul class="social">
                                  <li class="facebook2"><%= image_tag("regadera.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="twitter2"><%= image_tag("compostetapa1.PNG", id:'rombo', :class => "img-responsive") %></li>
                                  <li class="behance3"><%= image_tag("suculenta2.PNG", id:'rombo', :class => "img-responsive") %></li>
                                </ul>
                          </div>
    </div>
       <i class="fa fa-recycle fa-4x" id="enjoy"></i>
       <br>
       <br>
    </div>
</div>	

<%= image_tag("quienes3.PNG", id:"quienes", :class => "img-responsive") %>