<div class="container">
        <br>
        <div><h3>Nuestros productos</h3></div>
        <br>
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <%= image_tag("opuntia.jpg", id:"slidegalery", alt:"opuntia", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="1">
                                        <%= image_tag("lenguesuegra.jpg", id:"slidegalery", alt:"lenguesuegra", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="2">
                                        <%= image_tag("suculenta4.jpg", id:"slidegalery", alt:"suculenta", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="3">
                                       <%= image_tag("suculentaycactus.jpg", alt:"suculenta y cactus", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="4">
                                        <%= image_tag("arreglosuculentayotros.jpg", alt:"arreglo de suculentas y cactus", :class => "img-responsive") %></div>

                                        
                                         <div class="item" data-slide-number="5">
                                         <%= image_tag("suculentass.jpg", alt:"suculenas", id:"slidegalery", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="6">
                                         <%= image_tag("pinomateo.PNG", alt:"Cactus", id:"slidegalery", :class => "img-responsive") %></div>

                                         <div class="item" data-slide-number="7">
                                         <%= image_tag("suculentascultivo.PNG", alt:"Cultivo de suculentas", id:"slidegalery", :class => "img-responsive") %></div>


                                         <div class="item" data-slide-number="8">
                                         <%= image_tag("suculenta2.PNG", alt:"suculenas", id:"slidegalery", :class => "img-responsive") %></div>

                                         <div class="item" data-slide-number="9">
                                         <%= image_tag("lenguesuegra1.PNG", alt:"lenguesuegra", id:"slidegalery", :class => "img-responsive") %></div>

                                         <div class="item" data-slide-number="10">
                                        <%= image_tag("suculenta1.PNG", id:"slidegalery", alt:"suculenta", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="11">
                                        <%= image_tag("cuctustriangular.PNG", id:"slidegalery", alt:"cactustriangular", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="12">
                                        <%= image_tag("captus1.PNG", id:"slidegalery", alt:"cactus", :class => "img-responsive") %></div>

                                        <div class="item" data-slide-number="13">
                                        <%= image_tag("cactus4.PNG", id:"slidegalery", alt:"cactus", :class => "img-responsive") %></div>


                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <h2>Cactus</h2>
                                    <p>Cactus Opuntia y Triangualar</p>
                                    <p class="sub-text">Desde $5.000 COP</p>
                                </div>

                                <div id="slide-content-1">
                                    <h2>Lenguesuegra</h2>
                                    <p>Lengue suegra rosadas</p>
                                    <p class="sub-text"> $6.000 COP</p>
                                </div>

                                <div id="slide-content-2">
                                    <h2>Suculenta</h2>
                                    <p>Suculenta miniatura, arreglo de barro</p>
                                    <p class="sub-text">---- <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-3">
                                    <h2>Suculentas y cactus</h2>
                                    <p>¿No sabes como decorar tu hogar? <br> Que tal con un poco de vida</p>
                                    <p class="sub-text">$5.000 COP <br>$6.000 COP </p>
                                </div>

                                <div id="slide-content-4">
                                    <h2>Arreglo de suculentas y cactus</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">$30.000 COP </p>
                                </div>

                                <div id="slide-content-5">
                                    <h2>Arreglo de Cactus</h2>
                                    <p>Arreglo en madera <br> Hecho a partir de material reciclable</p>
                                    <p class="sub-text"> ---- </p>
                                </div>

                                <div id="slide-content-6">
                                    <h2>Cactus Opuntia</h2>
                                    <p>Nombre científico: Opuntia spp <br>
                                       Nombre común: Opuntia, Chumbera, Tuna, Nopal, Comojón, Higuera chumba, Nacal, Tasajo</p>
                                    <p class="sub-text">$6.000 COP </p>
                                </div>

                                <div id="slide-content-7">
                                    <h2>Cultivo de suculentas</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text"> </p>
                                </div>                             

                                <div id="slide-content-8">
                                    <h2>Suculenta rosada</h2>
                                    <p></p>
                                    <p class="sub-text">$5.000 COP</p>
                                </div>

                                <div id="slide-content-9">
                                    <h2>Lenguesuegras</h2>
                                    <p>Lenguesuegra Plantada en tronco</p>
                                    <p class="sub-text">$8.000 COP</p>
                                </div>

                                <div id="slide-content-10">
                                    <h2>Suculenta</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-11">
                                    <h2>Cactus</h2>
                                    <p>Cactus triangualar</p>
                                    <p class="sub-text"> Desde $7.000 COP</p>
                                </div>

                                <div id="slide-content-12">
                                    <h2>Cactus</h2>
                                    <p></p>
                                    <p class="sub-text"> $5.000 COP</p>
                                </div>

                                <div id="slide-content-13">
                                    <h2>Cactus</h2>
                                    <p></p>
                                    <p class="sub-text"> $5.000 COP</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-0"><%= image_tag("opuntia.jpg", alt:"Opuntia", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-1"><%= image_tag("lenguesuegra.jpg", alt:"lenguesuegra", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-2"><%= image_tag("suculenta4.jpg", alt:"suculenta", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-3"><%= image_tag("suculentaycactus.jpg", alt:"suculenta", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-4"><%= image_tag("arreglosuculentayotros.jpg", alt:"suculenta", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-5"><%= image_tag("suculentass.jpg", alt:"arreglo de suculentas", :class => "img-responsive") %></a>
                            </li>

                           

                        </ul>

              
                </div>
                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                        <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-6"><%= image_tag("pinomateo.PNG", alt:"CactusOpuntia", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-7"><%= image_tag("suculentascultivo.PNG", alt:"arreglo de suculentas y cactus", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-8"><%= image_tag("suculenta2.PNG", alt:"suculenta", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-9"><%= image_tag("lenguesuegra1.PNG", alt:"lenguesuegras", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-10"><%= image_tag("suculenta1.PNG", alt:"suculenta", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-11"><%= image_tag("cuctustriangular.PNG", alt:"cactustriangular", :class => "img-responsive") %></a>
                            </li>

                        </ul>
       
                </div>
                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">

                             <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-12"><%= image_tag("captus1.PNG", alt:"cactus", :class => "img-responsive") %></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-13"><%= image_tag("cactus4.PNG", alt:"cactus", :class => "img-responsive") %></a>
                            </li>


                        </ul>

              
                </div>
        
                               
        </div>
</div>
<p id="linea7"></p>
                            
