<section class="row" id="aliados">
<div  id="colal1" class="col-xs-offset-1 col-xs-3">
	<center>
	<h3 class="altext">Logrando el exito en compañia de</h3><h2  class="text">buenos amigos.</h2>
	<%= image_tag("https://lh4.googleusercontent.com/HnGp_PcDY3OY-NPr26Bmo3uQ8ENZZAAXfiKfxnViRmzilYHR0jJyo1nAEXTHUT04qMVouGcym9c_uiI=w1366-h654", id:"al1", class:"col-xs-3 ali", style:"width:60%")%>
	</center>
</div>
<div id="colal2" class="col-xs-offset-1 col-xs-7">
	<div class="row">
		<%= image_tag("https://lh4.googleusercontent.com/-PgdWqMXfDfLeDEtC1iGWz_Z85u87FbtjhJX2TnvHiU8D9EAbje6zDgFjBR3yFRkHdsaI8kUxVq0oaY=w1366-h654", class:"col-xs-3 ali", style:"width:40%")%>
		<%= image_tag("https://lh4.googleusercontent.com/mxGpmWORvAckU5oshOZPnBbLwPxDgr6AaHrl83K5ua1H6p-VJ1W6MODVieyYbZXwHKsBnG0eEfUw3ac=w1366-h654-rw", class:"col-xs-3 ali", style:"width:20%")%>
		<%= image_tag("https://lh3.googleusercontent.com/EWnKn3kXk1mhV3IqK4rh9FLMb1RSUqq4loKFJzrP-UxK-m0NMzn_n-xS9jZhqgRF9fW6pWyaVbHNZ3E=w1366-h654", class:"col-xs-3 ali", style:"width:25%")%>
	
		
		
	</div>
	<br>
	<div class="row">
		<%= image_tag("https://lh4.googleusercontent.com/vBh5RLqqpYR-UhSyF3Tp3kLbVCrqv1H3oU3lgPMKhZjOme8y1ieUoQgHi89xbmOQl3ESkuf92UokVoU=w1366-h654", class:"col-xs-3 ali", style:"width:40%")%>
		<%= image_tag("https://lh6.googleusercontent.com/PMK0nRvll_umU55AA5rphaD5jioYRdQeKLwkPdXroZ5NTyIqkfTTuewRLUS4GQPHzug6-8h9zv_62b8=w1366-h654", class:"col-xs-3 ali", style:"width:20%")%>
		<%= image_tag("https://lh5.googleusercontent.com/2R-eOYpMICjbU9G-Dv7055-tOeTxG_51irD3BONKOVoYsDmQo1jJLwYVwwrOrY7RCdujscrjSAPyoKU=w1366-h654", class:"col-xs-3 ali", style:"width:20%")%>
	</div>
</div>
	
</section>