<section class="row" id="aliados">
<div  id="colal1" class="col-xs-offset-1 col-xs-3">
	<center>
	<h3 class="altext">Logrando el exito en compañia de</h3><h2  class="text">buenos amigos.</h2>
	<%= image_tag("al6.png", id:"al1", class:"col-xs-3 ali", style:"width:60%")%>
	</center>
</div>
<div id="colal2" class="col-xs-offset-1 col-xs-7">
	<div class="row">
		<%= image_tag("al5.png", class:"col-xs-3 ali", style:"width:40%")%>
		<%= image_tag("al3.jpg", class:"col-xs-3 ali", style:"width:17%")%>
		<%= image_tag("al2.gif", class:"col-xs-3 ali", style:"width:20%")%>
		
		
	</div>
	<br>
	<div class="row">
		<%= image_tag("al1.png", class:"col-xs-3 ali", style:"width:40%")%>
		<%= image_tag("al4.jpg", class:"col-xs-3 ali", style:"width:20%")%>
		<%= image_tag("al7.jpg", class:"col-xs-3 ali", style:"width:20%")%>
	</div>
</div>
	
</section>