<div id="linea1"></div>
<footer>
	<div class="container row">
		<div id="icono" class="col-xs-2">
		    	    
			<div id="red"><%= link_to image_tag("gmail.png", :id =>'gmail'), "https://plus.google.com/u/2/111005938671686200860" %> </div>
			<div id="red"><%= link_to image_tag("face.png", :id =>'red', :class =>'face'), "https://www.facebook.com/jarumoravia" %></div>	
			<div id="red"><%= link_to image_tag("what.png", :id =>'red', :class =>'what') %></div>		
		</div>
		<div id="redes" class="col-xs-3">
		   <br>
		   <h3 id="foo"><%= link_to "+Jarum", "https://plus.google.com/u/2/111005938671686200860", :id =>'foo' %></h3>	
		   <br>
		   <h3 id="foo"><%= link_to "Jarum Moravia", "https://www.facebook.com/jarumoravia", :id =>'foo' %></h3>
		   <h3 id="foo">+320 647 7812</h3>
		</div>
		<div id="contacto" class="col-xs-7">
			<h3 id="foo">Email:jarumoravia@gmail.com 
			<br>
			Dirección: Carrera 58DD # 83EE – 75 interior112, <br> Cerro de Moravia. <br> Medellín, Antioquia. 			
			</h3>
			<h3 id="foo" class="whatnone">+320 647 7812</h3>
		</div>
	</div>
</footer>