<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Pagina_principal, navar, footer, contenido" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="autor" content="JesicaGomez">
  <meta name="keywords" content="Jarum">
  <meta charset="utf-8">
  <title>Jarum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'nav'%>
<%= yield %>
<%= render 'footer'%>
</body>
</html>
